<form action="signin" method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="SIGN IN">
</form>
<a href="/signup">新規登録</a>