<div class="sign">
<nav>
<img class="logo" src="/assets/image/logo.png">
<a class="back" href="/"><img src="assets/image/back.png" width="40px"></a>
</nav>

<img class="kaki" src="/assets/image/kaki3.png">
<form action="/signin" method="post">
<div class="nyuryoku">
  <p>ユーザーネーム<br><input type="text" name="username"></p><br>
  <p>パスワード<br><input type="password" name="password"></p><br>
</div>
  <input class="submit" type="submit" value="SIGN IN">
</form>
<a class="go" href="/signup">→SIGN UP</a>
</div>